<div class="header-modal">
  <h1 mat-dialog-title class="title-standard-second-light">
    Los datos han sido guardados
  </h1>
  <button mat-button class="close-icon" [mat-dialog-close]="true" (click)="onNoClick()">
    <mat-icon style="color: #fff;">close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <p>Seleccione la etapa a la que desea subir datos</p>
</div>

<div mat-dialog-actions class="center">
  <button mat-raised-button color="primary" (click)="continueStep($event)" cdkFocusInitial>Aceptar</button>
</div>